.movie-card {
    margin: 10px 0px;
  }
  
  .movie-img {
    padding: 5px;
  }

  .movie-card-title {
    color: black;
  }

  .movie-card-genre {
    color: black;
    font-size: 16px;
  }

  .movie-card-description {
    color :black;
  }