.register-form {
    margin: 20px;
    padding: 30px;
  }
  
  .register-header {
    text-align: center;
  }

  .movie-view-director {
    color: black;

  }

  .movie-view-genre {
    color: black;

  }

  .movie-view-back-btn {
    margin-top: 10px;
    
  
  }

  .favorite-btn:hover {

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .movie-view-back-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }