@mixin flex-column-standard {
  display: flex;
  flex-direction: column;
}


.login-container {
  display: flex;
  flex-direction: column;
  margin: 50px 50px;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  min-width: 300px;
}

input {
  padding: 10px 10px;
  margin: 10px 10px;
  max-width: 300px;
}

.login-login-btn {
  margin: 10px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-login-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.login-register-btn {
  margin: 10px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-register-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@mixin flex-column-standard {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: center;
}
